/*
 * SPDX-FileCopyrightText: 2022 Digital Dasein <https://digital-dasein.gitlab.io/>
 * SPDX-FileCopyrightText: 2022 Gerben Peeters <gerben@digitaldasein.org>
 * SPDX-FileCopyrightText: 2022 Senne Van Baelen <senne@digitaldasein.org>
 *
 * SPDX-License-Identifier: MIT
 *
 * --
 *
 * Custom CSS stylesheet for Lit elements
 */

/*.tsd-signature {*/
    /*display:none;*/
/*}*/

h3.tsd-anchor-link {
    font-size:1.25em;
    background-color:rgba(153, 155, 132,0.4);
    margin:0 0 10px 0 !important;
    line-height:1em;
    padding:5px 0;
}
.tsd-comment h3 {
    font-size:1em;
}

.tsd-accordion-details section {
    display:none !important;
}

.tsd-accordion-details section:nth-child(1),
.tsd-accordion-details section:nth-child(2) {
    display:block !important;
}
